:root {
  --pulse-brand-3: #7185c9;
  --pulse-brand-4: #8597d1;
  --pulse-brand-5: #9aa8d9;
  --pulse-brand-6: #aeb9e0;
  --pulse-brand-7: #c2cbe8;
  --pulse-brand-8: #d6dcf0;
  --pulse-brand-9: #ebeef7;

  // 带透明颜色
  --pulse-brand-tr-1: #3451b21a;
  --pulse-brand-tr-2: #3451b233;
  --pulse-brand-tr-3: #3451b24d;
  --pulse-brand-tr-4: #3451b266;
  --pulse-brand-tr-5: #3451b280;
  --pulse-brand-tr-6: #3451b299;
  --pulse-brand-tr-7: #3451b2b3;
  --pulse-brand-tr-8: #3451b2cc;
  --pulse-brand-tr-9: #3451b2e6;

  // 渐变色
  --pulse-brand-gr: #3451b2;
  --pulse-brand-gr-1: #344eb2;
  --pulse-brand-gr-2: ;
  --pulse-brand-gr-3: ;
  --pulse-brand-br: ;
  --pulse-brand-gr-br-1: ;
  --pulse-brand-gr-br-2: ;
  --pulse-brand-gr-br-3: ;
}

.dark {
  --pulse-brand-3: #2b3f83;
  --pulse-brand-4: #273973;
  --pulse-brand-5: #243363;
  --pulse-brand-6: #212d54;
  --pulse-brand-7: #1e2744;
  --pulse-brand-8: #1b2134;
  --pulse-brand-9: #181b24;
}