@use './cursor/index.scss' as cursor;

html {
  position: relative;
  -ms-overflow-style: none;  /* IE 和 Edge */
  scrollbar-width: none;     /* Firefox：隐藏 */
  overflow: auto;
  ::-webkit-scrollbar {
    display: none;
  }

  .fake-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    height: 100vh;
    background-color: transparent;
    border-radius: 4px;
    z-index: 99;
    opacity: 0;
    transition: all 0.2s ease;
    &.hover {
      opacity: 1 !important;
    }
  }

  .fake-thumb {
    width: 100%;
    background-color: rgba(#000, 0.2);
    border-radius: 4px;
    cursor: cursor.$pointer;
  }
}

// 表格
.vp-doc table {
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--vp-c-bg-elv);
}

.tk-iframe {
  .tk-article-page__aside {
    display: block;
  }
}
.tk-theme-enhance__popover {
  overflow: hidden;
  ::-webkit-scrollbar {
    display: block;
  }
  .tk-theme-enhance__content {
    max-height: calc(100vh - 100px);
    overscroll-behavior: contain;
    overflow: auto;
    margin: -20px;
    padding: 20px;
  }
}

.tk-post-item__right .cover.default .cover-img {
  background-size: cover !important;
  border-radius: 4px !important;
  overflow: hidden;
}

.vp-doc [class*='language-'] > button.copy.copied::before,
.vp-doc [class*='language-'] > button.copy:hover.copied::before {
  height: 20px;
  content: '已复制';
  border-right: 1px solid var(--vp-code-copy-code-hover-border-color);
  border-radius: 4px;
  color: var(--vp-c-tip-1);
}

.tk-body-bg-image~.tk-layout.Layout .VPContent.is-home .vp-doc>div {
  padding: 0 32px !important;
}

.tk-pagination button, .tk-pager li {
  background: rgba(var(--tk-pagination-bg-color), 0.6) !important;
}
.tk-pagination__input {
  box-shadow: 0 0 0 1px var(--vp-c-text-2) inset !important;
}

.tk-footer-info p, .tk-footer-info__list {
  color: var(--vp-c-text-2) !important;
}

img:not(
.tk-login img,
.VPImage,
.feature-img,
.cursor-setting-container img
) {
  border-radius: 4px;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0,0,0,.22);
  }
}

.tk-login~div {
  display: none !important;
}
.tk-theme-enhance__helper {
  height: 16px;
}

.tk-card.Layout.has-sidebar-trigger .tk-sidebar-trigger,
.tk-segment-nav.Layout.has-sidebar-trigger .tk-sidebar-trigger,
.tk-card-nav.Layout.has-sidebar-trigger .tk-sidebar-trigger,
.tk-segment.Layout.has-sidebar-trigger .tk-sidebar-trigger {
  left: calc(50% - var(--tk-page-max-width)/2 + var(--vp-sidebar-width) + var(--tk-sidebar-trigger-left-offset));
}

.VPNavBarTitle .title {
  border-color: transparent !important;
}

// 移动端打开导航栏时禁止滚动
.VPNavBar.screen-open {
  position: fixed;
  width: 100%;
}
html:has(.VPNavBar.screen-open) {
  overflow: hidden;
  .fake-scrollbar {
    visibility: hidden;
  }
}

html[layout-mode=original] .tk-body-bg-image~.tk-layout.Layout.tk-segment-nav .VPContent:not(.is-home) {
  background-color: var(--tk-bg-color);
}

/* 博客全图布局调整 */
$nav-bg-color: var(--vp-nav-bg-color);
$sidebar-bg-color: var(--vp-sidebar-bg-color);
$divider-color: var(--vp-c-gutter);
$border-color: var(--vp-c-divider);

// 覆盖本页导航popover分割线颜色
.VPLocalNavOutlineDropdown .items {
  background-color: $border-color;
}

.tk-body-bg-image~.tk-layout.has-sidebar-trigger:not(.is-sidebar-collapse) .tk-sidebar-trigger {
  z-index: 99;
}

@media (min-width: 1440px) {
  html[layout-mode=bothWidthAdjustable] .VPNavBar.has-sidebar>.divider {
    padding: 0 !important;
  }
}
@media (min-width: 1280px) {
  // 滚动后顶部nav背景改为非透明
  .tk-body-bg-image~.tk-layout.Layout header.VPNav .VPNavBar:not(.full-img-nav-bar).home,
  .tk-body-bg-image~.tk-layout.Layout header.VPNav .VPNavBar:not(.full-img-nav-bar):not(.home) {
    background-color: $nav-bg-color;
  }
  // 侧边栏默认颜色
  .tk-body-bg-image~.tk-layout.Layout.tk-segment-nav .VPSidebar {
    background-color: $sidebar-bg-color;
  }
  // 侧边栏搜索按钮位置调整
  .tk-body-bg-image~.tk-layout.has-sidebar-trigger:not(.is-sidebar-collapse) .tk-sidebar-trigger {
    left: calc(var(--vp-sidebar-width) + var(--tk-sidebar-trigger-left-offset) + 32px) !important;
  }
  // 右侧导航栏位置
  .aside-container {
    padding-top: calc(var(--vp-nav-height) + 8px) !important;
  }
}
@media (max-width: 1280px) {
  html[layout-mode=original] .tk-segment-nav .VPContent:not(.is-home) .VPDoc .container>.content {
    border-radius: 0;
  }
  .tk-body-bg-image~.tk-layout.has-sidebar-trigger:not(.is-sidebar-collapse) .tk-sidebar-trigger {
    left: calc(var(--vp-sidebar-width) - 16px) !important;
  }
}
@media (min-width: 960px) {
  .VPNav:has(.VPNavBar:not(.home)) {
    background-color: $nav-bg-color;
  }
  .VPNavBar:not(.home) {
    background-color: unset;
  }
  // 侧边栏收缩时nav边框
  .tk-layout.has-sidebar-trigger.is-sidebar-collapse .VPNav {
    border: 0;
    border-bottom: 1px solid $divider-color;
  }
  .VPNavBar.has-sidebar .content {
    padding-right: 0 !important;
    .content-body {
      padding-right: 32px !important;
    }
  }
  .VPNavBar>.divider {
    padding-left: 0 !important;
  }
}
@media (max-width: 768px) {
  html[layout-mode=original] .tk-segment-nav .VPContent:not(.is-home) .VPDoc .container>.content {
    padding: 20px;
  }
}
