$basePath: '../../cursors/angryBirds';

html[data-cursor-theme="angryBirds"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 0 0, default;
  --pulse-cursor-pointer: url('#{$basePath}/pointer.png') 0 0, pointer;
  --pulse-cursor-text: url('#{$basePath}/text.png') 11 14, text;
  --pulse-cursor-grab: url('#{$basePath}/grab.png') 16 16, grab;
  --pulse-cursor-help: url('#{$basePath}/help.png') 0 0, help;
  --pulse-cursor-move: url('#{$basePath}/move.png') 3 11, move;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 16 16, not-allowed;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 16 16, cross;
}