$basePath: '../../cursors/blackWukong';

html[data-cursor-theme="blackWukong"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 10 8;
  --pulse-cursor-pointer: url('#{$basePath}/pointer.png') 10 8;
  --pulse-cursor-text: url('#{$basePath}/text.png') 16 16;
  --pulse-cursor-grab: url('#{$basePath}/grab.png') 16 7;
  --pulse-cursor-help: url('#{$basePath}/help.png') 0 0;
  --pulse-cursor-move: url('#{$basePath}/move.png') 16 16;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 0 0;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 16 16;
}