$basePath: '../../cursors/blueFl';

html[data-cursor-theme="blueFl"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 9 5;
  --pulse-cursor-pointer: url('#{$basePath}/pointer.png') 10 1;
  --pulse-cursor-text: url('#{$basePath}/text.png') 12 12;
  --pulse-cursor-grab: url('#{$basePath}/grab.png') 7 7;
  --pulse-cursor-help: url('#{$basePath}/help.png') 7 5;
  --pulse-cursor-move: url('#{$basePath}/move.png') 13 13;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 14 14;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 12 12;
}