$basePath: '../../cursors/ink';

html[data-cursor-theme="ink"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 9 0;
  --pulse-cursor-pointer: url('#{$basePath}/pointer.png') 4 0;
  --pulse-cursor-text: url('#{$basePath}/text.png') 15 15;
  --pulse-cursor-grab: url('#{$basePath}/grab.png') 16 8;
  --pulse-cursor-help: url('#{$basePath}/help.png') 0 0;
  --pulse-cursor-move: url('#{$basePath}/move.png') 16 15;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 18 19;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 15 16;
}