$basePath: '../../cursors/kronii';

html[data-cursor-theme="kronii"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 2 1;
  --pulse-cursor-pointer: url('#{$basePath}/pointer.png') 2 1;
  --pulse-cursor-text: url('#{$basePath}/text.png') 4 9;
  --pulse-cursor-grab: url('#{$basePath}/horizontal.png') 16 16;
  --pulse-cursor-help: url('#{$basePath}/help.png') 16 16;
  --pulse-cursor-move: url('#{$basePath}/move.png') 16 16;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 16 16;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 8 8;
}