$basePath: '@/theme/cursors/mac';

html[data-cursor-theme="mac"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 12 8, default;
  --pulse-cursor-pointer: url('#{$basePath}/hand.png') 13 9, pointer;
  --pulse-cursor-text: url('#{$basePath}/text.png') 16 17, text;
  --pulse-cursor-grab: url('#{$basePath}/grab.png') 16 16, grab;
  --pulse-cursor-help: url('#{$basePath}/help.png') 16 16, help;
  --pulse-cursor-move: url('#{$basePath}/move.png') 16 16, move;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 16 16, not-allowed;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 16 16, cross;
}