$basePath: '../../cursors/mac';

html[data-cursor-theme="mac"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 12 8;
  --pulse-cursor-pointer: url('#{$basePath}/hand.png') 13 9;
  --pulse-cursor-text: url('#{$basePath}/text.png') 16 17;
  --pulse-cursor-grab: url('#{$basePath}/grab.png') 16 16;
  --pulse-cursor-help: url('#{$basePath}/help.png') 16 16;
  --pulse-cursor-move: url('#{$basePath}/move.png') 16 16;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 16 16;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 16 16;
}