$basePath: '../../cursors/paperPlane';

html[data-cursor-theme="paperPlane"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 6 7, default;
  --pulse-cursor-pointer: url('#{$basePath}/pointer.png') 3 3, pointer;
  --pulse-cursor-text: url('#{$basePath}/text.png') 16 17, text;
  --pulse-cursor-grab: url('#{$basePath}/grab.png') 16 16, grab;
  --pulse-cursor-help: url('#{$basePath}/help.png') 3 3, help;
  --pulse-cursor-move: url('#{$basePath}/move.png') 16 16, move;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 16 16, not-allowed;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 16 16, cross;
}