$basePath: '../../cursors/waterDrop';

html[data-cursor-theme="waterDrop"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 7 1;
  --pulse-cursor-pointer: url('#{$basePath}/pointer.png') 7 1;
  --pulse-cursor-text: url('#{$basePath}/text.png') 1 1;
  --pulse-cursor-grab: url('#{$basePath}/grab.png') 11 11;
  --pulse-cursor-help: url('#{$basePath}/help.png') 1 1;
  --pulse-cursor-move: url('#{$basePath}/move.png') 11 11;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 1 1;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 11 11;
}