$basePath: '../../cursors/xiaMu';

html[data-cursor-theme="xiaMu"] {
  --pulse-cursor-default: url('#{$basePath}/default.png') 1 1;
  --pulse-cursor-pointer: url('#{$basePath}/pointer.png') 1 1;
  --pulse-cursor-text: url('#{$basePath}/text.png') 6 19;
  --pulse-cursor-grab: url('#{$basePath}/grab.png') 1 1;
  --pulse-cursor-help: url('#{$basePath}/help2.png') 1 1;
  --pulse-cursor-move: url('#{$basePath}/move.png') 16 16;
  --pulse-cursor-not-allowed: url('#{$basePath}/notAllowed.png') 1 1;
  --pulse-cursor-cross: url('#{$basePath}/cross.png') 16 16;
}